*.egg-info
temp_resources/
venv
.zedstate
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/flyjamaica
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html
eggs/
